* {
	box-sizing: border-box;
}

body {
	font-family: Raleway;
	margin: 0 0;
	background-color: lightgray;
}


header {
	width: 100%;
	background-color: tomato;
}
h1 {
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 0.7em;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	text-align: center;
	font-size: 1.1em;
}

h3 {
	display: block;
	margin-left: 30px;
	margin-bottom: 0;
	font-size: 0.9em;
	text-decoration: underline;
}
.wrapper {
	width: 250px;
	background-color: white;
	border: black solid 4px;
	margin: 0.25em auto;
	border-radius: 15px;
}

.wrapper h2 {
	margin-top: 0.5em;
}

.container {
	width: 162px;
	margin: auto;
	padding-bottom: 0.75em;
}




#go {
	float: right;
}

.quiz {
	display: table;
	width: 95%;
	min-width: 270px;
	max-width: 800px;
	margin: auto;
	border-radius: 5px;
}


.quiz p {
	display: block;
	width: 80%;
	border: 3px black solid;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 0.8em;

}

.quiz p:hover{
	cursor: pointer;
	background: lightgray;
}



.quiz h4 {
	display: block;
	text-align: center;
	width: 4em;
	margin: 0.8em auto;
	padding: 3px;
	padding-bottom: 4px;
	border: 2px lightblue solid;
	border-radius: 5px;
	font-size: 0.9em;
}

.quiz p:nth-of-type(4) {
	margin-bottom: 0;
}

.next-btn {
	display: block;
	margin: 0.5em auto;
	height: 50px;
	padding: 0 15px;
	border-radius: 5px;
	background: white;
	color: black;
	font-weight: bold;


}

.correct {
	border: 3px green solid !important;
}

.wrong {
	border: 3px red solid !important;
}

.mark {
	float: right;
	margin-top: -3.5px;
	width: 25px;
}

.trophy {
	display: block;
	margin: auto;
	width: 150px;
	border: 10px solid tomato;
	border-radius: 50%;

}


/* ==== Media Queries ===== */

@media (min-width: 500px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.3em;
	}

	.quiz {
		width: 80%;
		min-height: 410px;

	}
	
	.quiz h2 {
		font-size: 2.5em;
	}

	.quiz p {
		width: 70%;
		font-size: 1em;

	}

	.wrapper {
		margin: 1.5em auto;
	}
	.trophy {
		width: 275px;
	}

	.mark {
		margin-top: -2px;
	}

}
