* {
	box-sizing: border-box;
}

/* ==== Elements ==== */

body {
	font-family: Raleway;
	margin: 0 0;
	background-color: #efbdbf;
}


header {
	width: 100%;
	background-color: tomato;
}
h1 {
	text-align: center;
	text-shadow: 2px 2px 8px #FF0000;
	letter-spacing: 0.35em;
	font-size: 1.5em;
	color: white;
	padding: 0.7em;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	text-align: center;
	text-shadow: 1px 1px 4px black;
	font-size: 1.1em;
}

h3 {
	display: block;
	letter-spacing: 0.05em;
	text-shadow: 1px 1px 1px;
	margin-left: 30px;
	margin-bottom: 0;
	font-size: 0.9em;
	text-decoration: underline;
}

.wrapper h2 {
	margin-top: 0.5em;
	color: white;
}

button {
    display: inline-block;
    border: none;
		border-radius: 0 5px 5px 0;
    padding: 0.5em 1em;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: orange;
		transition: background 650ms; 
}

button:active {
		background: #0069ed;
		transition-delay: background 650ms;
}

/* ==== Main Classes ==== */

.wrapper {
	width: 250px;
	background-color: white;
	background-color: #d93036;
	border: black solid 2px;
	margin: 0.75em auto;
	border-radius: 15px;
}

.container {
	display: flex;
	justify-content: center;
	margin: auto;
	padding-bottom: 0.75em;
}

.dropdown {
	width: 150px;
	position: relative;
	font-family: Arial;
	font-size: 1em;
}

/* ==== IDs ==== */

#go {
	float: right;
}


/* ==== Quiz ==== */

.quiz {
	margin: auto;
	height: 420px;
}

.quiz p {
	display: block;
	width: 80%;
	border: 2px #67090c solid;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 0.8em;
	background: #16659c;
	color: white;
	box-shadow: 1px 1px 1px #67090c;
}

.quiz p:hover{
	cursor: pointer;
	background: white;
	color: black;
	letter-spacing: 0.05em;
	font-weight: bold;
}



.quiz h4 {
	display: block;
	text-align: center;
	width: 5em;
	margin: 0.8em auto;
	padding: 3px;
	padding-bottom: 4px;
	border: 2px lightblue solid;
	border-radius: 5px;
	font-size: 0.9em;
}

.quiz p:nth-of-type(4) {
	margin-bottom: 0;
}

.next-btn {
	display: block;
	margin: 1em auto;
	height: 50px;
	padding: 0 15px;
	border-radius: 5px;
	background: white;
	color: black;
	font-weight: bold;
}

.correct {
	border: 2px green solid !important;
}

.wrong {
	border: 2px red solid !important;
}

.mark {
	float: right;
	margin-top: -3.5px;
	width: 25px;
}

.trophy {
	display: block;
	margin: auto;
	width: 150px;
	border: 5px solid tomato;
	border-radius: 10px;

}

/* ==== Media Queries ===== */

@media (min-width: 500px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.3em;
	}

	.quiz {
		width: 80%;
		height: 440px;
	}
	
	.quiz h2 {
		font-size: 2em;
	}
	
	.quiz p {
		width: 70%;
		font-size: 1.25em;

	}

	.wrapper {
		margin: 1.5em auto;
	}
	.trophy {
		width: 275px;
	}

	.mark {
		margin-top: -2px;
	}

}

@media (min-width: 820px) {
	
	h1 {
	font-size: 3em;
	}
	.quiz {
		width: 70%;
		height: 430px;

	}
	
	.quiz h2 {
		font-size: 2.25em;
	}

	.quiz h3 {
		font-size: 1.5em;
		text-align: center;
	}

	.quiz h4 {
		font-size: 1em;
		padding: 0.4em;
	}

	.quiz p {
		width: 70%;
		font-size: 1.1m;

	}

	.trophy {
		width: 225px;
	}

	.mark {
		margin-top: -2px;
	}
	
	.next-btn {
		margin-top: 18px;
	}
}
